<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VideoPath" value="BG_Videos/Nissan(RE).mov"/>
    <add key="PhoneVideoPath" value="BG_Videos/iPhone(RE).mov"/>
    <add key="BikeVideoPath" value="BG_Videos/Cycle(RE).mov"/>
    <add key="CarPath_WinnerList" value="BG_Videos/Winner list of Nissan Sunny.mov"/>
    <add key="PhonePath_WinnerList" value="BG_Videos/Winner List of iPhone 8 plus.mov"/>
    <add key="BikePath_WinnerList" value="BG_Videos/Winner List of Honda wave.mov"/>
  </appSettings>
<connectionStrings>
  <add name="ConString" connectionString="Server=localhost;Port=9999;userid=forge;password=T3ajA4QF6IIUEeNkE6dH;database=luckydraw"/>
</connectionStrings>
</configuration>