<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VideoPath" value="Car ani.mov"/>
    <add key="PhoneVideoPath" value="Car ani.mov"/>
    <add key="BikeVideoPath" value="Car ani.mov"/>
  </appSettings>
<connectionStrings>
  <add name="ConString" connectionString="Server=localhost;Port=9999;userid=forge;password=T3ajA4QF6IIUEeNkE6dH;database=luckydraw"/>
</connectionStrings>
</configuration>